.sidebar {
  position: relative; /* so headers can be absolutely placed inside */
  background-color: var(--input-bg);
  border-right: 1px solid var(--border-color);
  box-shadow: var(--shadow);
  transition: width 0.3s ease;
  min-height: 100vh;  /* fill full vertical space */
  overflow-y: auto;
  width: 300px;       /* default open width */
}

.sidebar.open {
  width: 300px;
  overflow: auto;  /* normal scrolling when open */
}

.sidebar.collapsed {
  width: 0;
  overflow: visible; /* keep icon clickable even though width=0 */
}